<h1>Welcome to</h1>
<img src="BIBEMVS.png"/>
<h1>
    <a href="/api/users/login">User Login</a>
    <a href="/api/sellers/login">Seller Login</a>
    <a href="/api/users/register">User Register</a>
    <a href="/api/sellers/register">Seller Register</a>
</h1>